#tittle-login {
    margin-top: 20%;

    text-align: center;
    background-color: black;
    color: white;
}

.input-group {
    padding: 10px;
}

.fa-envelope {
    padding-top: 11px;
    padding-right: 15px;
}

.fa-lock {
    padding-top: 33%;
    padding-right: 15px;
}