body {
    background-color: #edf1f5;
    margin-top: 20px;
}

.card {
    margin-bottom: 30px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}

.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}

.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa!important
}

.table-product td {
    border-top: 0px solid #dee2e6 !important;
    color: #728299!important;
}

.valid_tag {
    background-color: rgb(43, 214, 43);
    border-radius: 25px;
    border: 2px solid rgb(43, 214, 43);
    width: 100px;
    text-align: center;
}

.content {
    margin-top: 30px;
    font-size: small;
}

.box {
    float: left;
    margin: 50px 50px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}


tr {
    border-color: gray;
    border-style: solid;
    border-width: 0;
}

.p-des{
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.vc_custom_1600254371583{
    margin-bottom: 10px !important;
    border-top-width: 1px !important;
    border-right-width: 1px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    padding-left: 5px !important;
    border-left-color: #0a0a0a !important;
    border-left-style: groove !important;
    border-right-color: #0a0a0a !important;
    border-right-style: groove !important;
    border-top-color: #0a0a0a !important;
    border-top-style: groove !important;
    border-bottom-color: #0a0a0a !important;
    border-bottom-style: groove !important;
    border-radius: 4px !important;
}
.img-big{
    width: 100%;
}

table{
    width: 100%;
}
thead {
    display: table; /* to take the same width as tr */

}

tbody {
    display: block; /* to enable vert max-height: 200px; /* e.g. */

}

th, td {
    width: 33.33%; /* to enable "word-break: break-all" */
    padding: 5px;
    word-break: break-all; /* 4. */
}

tr {
    display: table; /* display purpose; th's border */
    width: 100%;
    box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
}

td {
    text-align: center;
    border-bottom: none;
    border-left: none;
}

.container{
    padding: 15px 7px;
}

.row{
    padding: 15px 7px;
}

.name{
    padding: 15px 7px;
}
/*.box a {
    display: inline-block;
    color: #fff;
    background-color: #2196f3;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 15px;
} 

.box a:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.col-lg-6 .col-md-6 .col-sm-6 .box p {
    font-size: 15px;
    line-height: 28px;
    height: 20%;
    overflow: hidden;
}

.col-lg-6 .col-md-6 .col-sm-6 .box .showContent p {
    height: auto;
}

.box .showContent a.readmore-btn {
    background-color: red;
}*/